In [132]:
import pandas as pd

In [133]:
df = pd.read_csv('./Test_inv.csv', index_col='serial number')

In [134]:
df.shape

(259231, 10)

In [135]:
df.head()

,machine group name,machinary code,machine name,address,product name,in stock,capacity,out of stock,Time,Soldout
serial number,,,,,,,,,,
1,ALLMachine,2005150013,Sidir-013,0.0,7up soft,0,10,10,2022-11-25 00:00:00,1.0
2,ALLMachine,2005150013,Sidir-013,0.0,Asaleh juice,3,3,0,2022-11-25 00:00:00,0.0
3,ALLMachine,2005150013,Sidir-013,0.0,avocado juice,0,3,3,2022-11-25 00:00:00,1.0
4,ALLMachine,2005150013,Sidir-013,0.0,Awar Qalb juice,4,4,0,2022-11-25 00:00:00,0.0
5,ALLMachine,2005150013,Sidir-013,0.0,Caesar salad,0,4,4,2022-11-25 00:00:00,1.0

In [136]:
df.describe()

,machinary code,address,in stock,capacity,out of stock,Soldout
count,2.592310e+05,70271.0,259231.000000,259231.000000,259231.000000,259231.000000
mean,2.097365e+09,0.0,1.505387,7.194136,5.688749,0.820741
std,3.168056e+07,0.0,3.932252,6.592046,5.230847,0.307440
min,2.005150e+09,0.0,0.000000,2.000000,0.000000,0.000000
25%,2.104140e+09,0.0,0.000000,4.000000,3.000000,0.733333
50%,2.104140e+09,0.0,0.000000,5.000000,5.000000,1.000000
75%,2.104150e+09,0.0,2.000000,9.000000,6.000000,1.000000
max,2.207050e+09,0.0,68.000000,81.000000,70.000000,1.000000

### Check for null values

In [137]:
d = df.isna().any(axis=1)
all_nan = df.isnull().all(1)  # get the rows with all values is null

df['machine name'].isna().any()  # no null in machine name

False

## Task- Get Result For change in IN Stock data

### Add new columns for day and minutes

In [138]:

# convert column time to datetime object
df['Time'] = pd.to_datetime(df['Time'])
df['Time']

serial number
1      2022-11-25
2      2022-11-25
3      2022-11-25
4      2022-11-25
5      2022-11-25
          ...
1084   2022-11-30
1085   2022-11-30
1086   2022-11-30
1087   2022-11-30
1088   2022-11-30
Name: Time, Length: 259231, dtype: datetime64[ns]

In [139]:
new_df = df.copy()

new_df.insert(8, 'Hour', new_df['Time'].dt.strftime(
    '%H:%M:%S'), allow_duplicates=True)

new_df.insert(9, 'Day', new_df['Time'].dt.day, allow_duplicates=True)


new_df.sample(20)

,machine group name,machinary code,machine name,address,product name,in stock,capacity,out of stock,Hour,Day,Time,Soldout
serial number,,,,,,,,,,,,
622,ALLMachine,2104140188,Military Bldng 113 GF 188,NaN,Haloumi Brown Club,1,3,2,03:00:00,28,2022-11-28 03:00:00,0.666667
457,ALLMachine,2104140165,Court1 165,NaN,Spinach Pie,0,10,10,07:00:00,29,2022-11-29 07:00:00,1.000000
449,ALLMachine,2104140158,Military Bulding 5 GF 158,NaN,Fruit salad,0,8,8,17:00:00,27,2022-11-27 17:00:00,1.000000
731,ALLMachine,2104150015,Military Bldng 4 6F 015,NaN,Jumbo Fajita,0,5,5,13:30:00,25,2022-11-25 13:30:00,1.000000
967,ALLMachine,2104150135,Tabuk 135,NaN,Feta Cheese Croissant,5,10,5,02:30:00,25,2022-11-25 02:30:00,0.500000
412,ALLMachine,2104140155,Elm1 M 155,NaN,Tuna Club,0,3,3,09:00:00,25,2022-11-25 09:00:00,1.000000
825,ALLMachine,2104150127,National water 127 M,NaN,Chicken Fajitas,0,2,2,17:30:00,27,2022-11-27 17:30:00,1.000000
116,ALLMachine,2101180097,GASCO-097,0.0,Caesar salad,2,4,2,03:00:00,25,2022-11-25 03:00:00,0.500000
281,ALLMachine,2104140145,Military Bldng 9 GF 145,NaN,Round Pizza,0,5,5,11:30:00,26,2022-11-26 11:30:00,1.000000
258,ALLMachine,2104140145,Military Bldng 9 GF 145,NaN,Caesar Club,2,6,4,23:30:00,28,2022-11-28 23:30:00,0.666667
421,ALLMachine,2104140157,Dallah Hospital-157,NaN,Caesar Club,2,6,4,09:30:00,28,2022-11-28 09:30:00,0.666667
110,ALLMachine,2101180097,GASCO-097,0.0,7up diet,0,5,5,13:00:00,25,2022-11-25 13:00:00,1.000000
767,ALLMachine,2104150056,Military Bldng 4 7F 056,NaN,Smoked turkey Club,1,3,2,06:30:00,25,2022-11-25 06:30:00,0.666667
83,ALLMachine,2012020077,Waha 077,0.0,Shawarma with brown bread Healthy,2,2,0,23:00:00,28,2022-11-28 23:00:00,0.000000
1142,ALLMachine,2104150146,Military Bldng 44 GF 146,NaN,Dynamite Club,0,3,3,18:00:00,27,2022-11-27 18:00:00,1.000000
587,ALLMachine,2104140177,Military Bldng 13 GF 177,0.0,Zaatar Croissant,0,10,10,22:00:00,27,2022-11-27 22:00:00,1.000000
559,ALLMachine,2104140176,Magril 176,NaN,Smoked turkey Club,1,6,5,22:00:00,25,2022-11-25 22:00:00,0.833333
793,ALLMachine,2104150119,Schneider 119,NaN,Shawarma Scipy Club,0,6,6,10:00:00,27,2022-11-27 10:00:00,1.000000
1171,ALLMachine,2207050088,Military Bldng 107 GF 088,NaN,Caesar salad,3,4,1,04:30:00,25,2022-11-25 04:30:00,0.250000
939,ALLMachine,2104150134,Arabian Center 134,NaN,Cajun Club,2,3,1,21:00:00,25,2022-11-25 21:00:00,0.333333

##### Drop some unuseful columns for task

In [140]:
new_df.drop(columns=['machinary code',	'address', 'Time',	'Soldout', 'machine group name'], inplace=True)
new_df

,machine name,product name,in stock,capacity,out of stock,Hour,Day
serial number,,,,,,,
1,Sidir-013,7up soft,0,10,10,00:00:00,25
2,Sidir-013,Asaleh juice,3,3,0,00:00:00,25
3,Sidir-013,avocado juice,0,3,3,00:00:00,25
4,Sidir-013,Awar Qalb juice,4,4,0,00:00:00,25
5,Sidir-013,Caesar salad,0,4,4,00:00:00,25
...,...,...,...,...,...,...,...
1084,Military Bldng 107 GF 088,Nova Water 1,0,5,5,00:00:00,30
1085,Military Bldng 107 GF 088,Orange juice,0,10,10,00:00:00,30
1086,Military Bldng 107 GF 088,Pomegranate beet juice,0,5,5,00:00:00,30
1087,Military Bldng 107 GF 088,Round Pizza,0,10,10,00:00:00,30
1088,Military Bldng 107 GF 088,Zaatar Croissant,0,10,10,00:00:00,30

#### Copy New Data to work on

In [141]:
new_df['Day'].nunique()
new_df['machine name'].nunique()
new_df['Hour'].nunique()
new_df.columns

new_df.rename(columns={'out of stock': 'out stock'},
              inplace=True)
new_df.head()

,machine name,product name,in stock,capacity,out stock,Hour,Day
serial number,,,,,,,
1,Sidir-013,7up soft,0,10,10,00:00:00,25
2,Sidir-013,Asaleh juice,3,3,0,00:00:00,25
3,Sidir-013,avocado juice,0,3,3,00:00:00,25
4,Sidir-013,Awar Qalb juice,4,4,0,00:00:00,25
5,Sidir-013,Caesar salad,0,4,4,00:00:00,25

In [142]:

# Filter for machine name in one day
dallah_machine = new_df[(new_df['machine name'] == 'Dallah Hospital-157') & (new_df['Day'] == 27)]


output = dallah_machine.groupby(['Day', 'Hour']).agg({'in stock': sum,
                                                    'out stock':sum, 'product name':'count',
                                                    'capacity':sum}).reset_index()
dallah_machine


#output

,machine name,product name,in stock,capacity,out stock,Hour,Day
serial number,,,,,,,
414,Dallah Hospital-157,Asaleh juice,0,5,5,00:00:00,27
415,Dallah Hospital-157,avocado juice,4,10,6,00:00:00,27
416,Dallah Hospital-157,Awar Qalb juice,0,5,5,00:00:00,27
417,Dallah Hospital-157,Caesar Club,0,3,3,00:00:00,27
418,Dallah Hospital-157,Caesar salad,11,24,13,00:00:00,27
...,...,...,...,...,...,...,...
434,Dallah Hospital-157,Orange juice,0,15,15,23:30:00,27
435,Dallah Hospital-157,Shawarma Scipy Club,3,3,0,23:30:00,27
436,Dallah Hospital-157,Smoked turkey Club,2,3,1,23:30:00,27
437,Dallah Hospital-157,Three chese Club,1,3,2,23:30:00,27
438,Dallah Hospital-157,Tuna Jumbo,4,5,1,23:30:00,27

In [143]:
def get(y, x):
    global d
   
    result = ""
    if output['in stock'].iloc[0] == x and y == '00:00:00':
   
        d = x
   
    if d >= x:
        d = x
        result = "No Change in Stock"
    else:
      
        result = f'Increase in Stock by {x-d}: at {y}'
        d = x

   
    return result


output['change in stock'] = output.apply(lambda x: get(x['Hour'], x['in stock']), axis=1)
output.head()

,Day,Hour,in stock,out stock,product name,capacity,change in stock
0,27,00:00:00,53,119,21,172,No Change in Stock
1,27,00:30:00,53,119,21,172,No Change in Stock
2,27,01:00:00,53,119,21,172,No Change in Stock
3,27,01:30:00,53,119,21,172,No Change in Stock
4,27,02:00:00,53,119,21,172,No Change in Stock

#### Add Data Change To excel File

In [144]:

output.to_csv('./dalla_output.csv', index=False)

## Get The Same Output For all Days

In [145]:

# Filter for machine name in one day
dallah_machine = new_df[(new_df['machine name'] ==
                         'Dallah Hospital-157')]


output = dallah_machine.groupby(['Day', 'Hour']).agg({'in stock': sum,
                                                      'out stock': sum, 'product name': 'count',
                                                      'capacity': sum}).reset_index()
dallah_machine


#output

,machine name,product name,in stock,capacity,out stock,Hour,Day
serial number,,,,,,,
414,Dallah Hospital-157,Asaleh juice,1,5,4,00:00:00,25
415,Dallah Hospital-157,avocado juice,6,10,4,00:00:00,25
416,Dallah Hospital-157,Awar Qalb juice,0,5,5,00:00:00,25
417,Dallah Hospital-157,Caesar Club,4,6,2,00:00:00,25
418,Dallah Hospital-157,Caesar salad,11,12,1,00:00:00,25
...,...,...,...,...,...,...,...
403,Dallah Hospital-157,Nova Water 1,18,35,17,00:00:00,30
404,Dallah Hospital-157,Orange juice,0,20,20,00:00:00,30
405,Dallah Hospital-157,Pepsi soft,0,5,5,00:00:00,30
406,Dallah Hospital-157,Smoked turkey Club,2,3,1,00:00:00,30
407,Dallah Hospital-157,Tuna Jumbo,0,5,5,00:00:00,30

In [146]:
def get(y, x):
    global d

    result = ""
    if output['in stock'].iloc[0] == x and y == '00:00:00':

        d = x

    if d >= x:
        d = x
        result = "No Change in Stock"
    else:

        result = f'Increase in Stock by {x-d}: at {y}'
        d = x

    return result


output['change in stock'] = output.apply(
    lambda x: get(x['Hour'], x['in stock']), axis=1)
output.head()

,Day,Hour,in stock,out stock,product name,capacity,change in stock
0,25,00:00:00,98,71,23,169,No Change in Stock
1,25,00:30:00,98,71,23,169,No Change in Stock
2,25,01:00:00,98,71,23,169,No Change in Stock
3,25,01:30:00,98,71,23,169,No Change in Stock
4,25,02:00:00,98,71,23,169,No Change in Stock

In [147]:
output.to_csv('./dalla_output_all_days.csv', index=False)