In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('./Test_inv.csv', index_col='serial number')

In [6]:
df.shape

(259231, 10)

In [7]:
df.head()

,machine group name,machinary code,machine name,address,product name,in stock,capacity,out of stock,Time,Soldout
serial number,,,,,,,,,,
1,ALLMachine,2005150013,Sidir-013,0.0,7up soft,0,10,10,2022-11-25 00:00:00,1.0
2,ALLMachine,2005150013,Sidir-013,0.0,Asaleh juice,3,3,0,2022-11-25 00:00:00,0.0
3,ALLMachine,2005150013,Sidir-013,0.0,avocado juice,0,3,3,2022-11-25 00:00:00,1.0
4,ALLMachine,2005150013,Sidir-013,0.0,Awar Qalb juice,4,4,0,2022-11-25 00:00:00,0.0
5,ALLMachine,2005150013,Sidir-013,0.0,Caesar salad,0,4,4,2022-11-25 00:00:00,1.0

In [ ]:
df.describe()

Get all the machines in the data

In [10]:
machines = df.groupby(by='machine name')

Get sum instock, capacity, out of stock for every machine

In [ ]:
machines[['in stock', 'capacity', 'out of stock', 'Time']].agg([sum ])

Group the data by products to get a view of the out of stock and some info about the machines

In [ ]:
df.sort_values(by='out of stock', ascending=False).groupby('machine name').agg(sum)

In [33]:
macines_time = df.groupby(['Time', 'machine name'])

macines_time[['in stock', 'out of stock']].agg([sum])

                                        in stock capacity out of stock
                                             sum      sum          sum
Time                machine name
2022-11-25 00:00:00  Elm1 M 155                0       65           65
                    Arabian Center 134        96      167           71
                    Citc 131                   0      150          150
                    Court1 165                33      150          117
                    Dallah Hospital-157       98      169           71
...                                          ...      ...          ...
2022-11-30 00:00:00 University 136            78      188          110
                    University 189            61      135           74
                    Waha 077                  33       59           26
                    Yasmin 119                 0       72           72
                    swcc2 034                  5      196          191

[12568 rows x 3 columns]